<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="POST">
  <p>Team Name:
    <input type="text" name="team[name]" /></p>

  <p><label for="team_name">Team Motto:</label>
    <input type="text" name="team[motto]" /></p>

<!-- heroes -------------->
  <h2>Hero 1</h2>
  <p><label for="team_name">Hero Name:</label>
    <input type="text" name="team[members][][name]" /></p>

  <p><label for="team_name">Power:</label>
    <input type="text" name="team[members][][power]" /></p>

  <p><label for="team_name">Biography:</label>
    <input type="text" name="team[members][][bio]" /></p>

  <!-- heroes -------------->
  <h2>Hero 2</h2>
  <p><label for="team_name">Hero Name:</label>
    <input type="text" name="team[members][][name]" /></p>

  <p><label for="team_name">Power:</label>
    <input type="text" name="team[members][][power]" /></p>

  <p><label for="team_name">Biography:</label>
    <input type="text" name="team[members][][bio]" /></p>

  <!-- heroes -------------->
  <h2>Hero 3</h2>
  <p><label for="team_name">Hero Name:</label>
    <input type="text" name="team[members][][name]" /></p>

  <p><label for="team_name">Power:</label>
    <input type="text" name="team[members][][power]" /></p>

  <p><label for="team_name">Biography:</label>
    <input type="text" name="team[members][][bio]" /></p>

  <input type="submit" value="Submit"/>
</form>


